/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
body {
  line-height: 1;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
ol,
ul {
  list-style: none;
  box-sizing: border-box;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Page */

div#bloc_page {
  max-width: 992px;
  margin-right: auto;
}

#page {
  padding-left: 3%;
  padding-right: 3%;
}

h2 {
  font-weight: bold;
  font-size: larger;
  padding-bottom: 20px;
  padding-top: 40px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
}

#logo img {
  width: 100px;
  margin-top: 20px;
  margin-left: 40px;
}

/* Navigation */

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  padding: 40px 25px;
  border-top: 2px solid transparent;
  margin: 0px 20px 0px 20px;
}

nav ul li:hover {
  border-color: #0065fc;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li:hover a {
  color: #0065fc;
}
/* Titre de la page*/
h1 {
  font-weight: bold;
  font-size: larger;
  padding-bottom: 1%;
}

.subtitle {
  display: block;
  margin-bottom: 2%;
}

/* Fonction recherche */

#rechercher {
  display: inline-block;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  width: auto;
  margin-bottom: 3%;
}

#rechercher i {
  display: inline-block;
  padding: 15px;
  height: 65px;
  font-size: 25px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

input {
  display: inline-block;
  height: 50px;
  border: none;
}

button {
  display: inline-block;
  background: #0065fc;
  color: #deedff;
  height: 65px;
  border: none;
  border-radius: 0px 15px 15px 0px;
  padding: 15px;
  cursor: pointer;
}

/* Filtre */
#bloc_filtre {
  display: flex;
  padding-bottom: 3%;
}

#bloc_filtre p {
  margin-right: 10px;
  font-size: larger;
  font-weight: bold;
}

#bloc_filtre ul {
  display: flex;
}

#bloc_filtre p {
  display: flex;
  align-items: center;
}

#bloc_filtre li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  cursor: pointer;
  padding-right: 20px;
  margin: 0 2%;
}

.filtre i {
  background-color: #deedff;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 100%;
  color: #0065fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  margin-bottom: 2%;
}

.info i {
  color: #0065fc;
  border: 1px solid #deedff;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/* Section */

#section_1 {
  display: flex;
  justify-content: space-between;
  height: 50%;
}

.style_section {
  background: #f2f2f2;
  border-radius: 20px;
  padding-left: 3%;
  padding-right: 3%;
}

/* Hébergements à Marseille */

#bloc_section_1 {
  width: 65%;
  height: 530px;
}

#ligne_section_1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#ligne_1_section_1,
#ligne_2_section_1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
  height: 200px;
}

#ligne_1_section_1 img,
#ligne_2_section_1 img {
  width: 80%;
  height: 80%;
  border-radius: 20px;
  object-fit: cover;
}

.image_section_1 {
  width: 100%;
}

#section_1 a {
  font-weight: bold;
  font-size: larger;
}

/* Les plus populaire */
#bloc_aside {
  width: 30%;
}

#liste_aside {
  display: flex;
  flex-direction: column;
  height: 130px;
}
#liste_aside img {
  width: 100%;
  height: 80%;
  border-radius: 20px;
  object-fit: cover;
}

.image_aside {
  height: 115%;
}

/* Activités à Marseille */

#section_2 {
  height: 50%;
}

.section_2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
}

.colonne img {
  max-width: 100%;
  border-radius: 20px;
  object-fit: cover;
  height: 100%;
}

.colonne {
  width: 22%;
  height: 300px;
}
.colonne_double {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colonne_double img {
  height: 100%;
  width: 100%;
}

.grande_image {
  height: 100%;
}

.moyenne_image {
  height: 55%;
}

.petite_image {
  height: 35%;
}

.image {
  height: 45%;
}

/* Footer */
footer {
  display: flex;
  background: #f2f2f2;
  height: 200px;
}

.footer_colonne {
  padding-right: 10%;
  padding-left: 3%;
}

footer li {
  padding-bottom: 1em;
}
