/* Header */
header {
  flex-direction: column;
}

header #logo {
  margin: auto;
}

header nav ul {
  padding: 0;
}

header nav ul li {
  width: 50%;
  padding: 20px;
  text-align: center;
  margin: 0px;
  border-top: none;
  border-bottom: 2px solid #f2f2f2;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

h1 {
  font-weight: bold;
  margin-bottom: 5%;
  width: 95%;
  margin: 2.5%;
}

.subtitle {
  display: block;
  margin-bottom: 5%;
  margin: 2.5%;
}

/* Fonction recherche */
#rechercher {
  width: 95%;
  justify-content: space-between;
  margin: 2.5%;
}

#rechercher button {
  border-radius: 15px;
  justify-content: flex-end;
}

button span {
  display: none;
}

#rechercher button .fa-search {
  display: block;
  color: #f2f2f2;
}

input {
  border: none;
}

#bloc_filtre ul {
  flex-wrap: wrap;
  justify-content: space-between;
}

#bloc_filtre {
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
}

#bloc_filtre p {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

/* Section */
#hebergement_populaire {
  flex-direction: column;
}

#hebergement_populaire #bloc_hebergement #bloc_populaire a {
  width: 100%;
}

/* Hébergements à Marseille */
#hebergement_populaire #bloc_hebergement {
  order: 2;
  width: 100%;
}

/* Les plus populaire */
#hebergement_populaire #bloc_populaire {
  order: 1;
  width: 100%;
  margin-bottom: 5%;
}

.titre_populaire {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 1%;
}

#bloc_populaire a {
  display: flex;
  width: 30%;
  box-shadow: 2px 2px 20px grey;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 10%;
  flex-direction: column;
}

#liste_populaire {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#liste_populaire img {
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  border: solid;
  border-width: 5px;
  border-color: white;
}

.etoile_populaire {
  background: white;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.texte_etoile {
  margin-bottom: 5%;
}

#afficher_plus {
  font-weight: bold;
  margin-top: 20px;
  /* margin-bottom: 10px; */
}
